.footer {
  padding-block: rem(48);

  &__inner {
    display: flex;
  }

  &__list {
    @include list-unstyled();
  }

  &__item:not(:first-child) {
    margin-left: rem(40);
  }

  &__link {
    @include font-sty(rem(18), 600, rem(28));
    @include text-dec-none();
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  &__add {
    @include font-sty();
    margin-left: rem(125);
    font-style: normal;
    opacity: 0.7;
  }

  &__social-list {
    @include list-unstyled();
    margin-bottom: rem(40);
  }

  &__social-item:not(:last-child) {
    margin-right: rem(16);
  }

  &__social-link {
    font-size: rem(20);
    color: $color-light;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
  &__social-text {
    @include font-sty();
    font-style: normal;
    opacity: 0.7;
  }
}